@charset "UTF-8";

body{ 
    background-color: rgb(194, 192, 192);
}
h1{
    color: rgb(46, 46, 46);
    text-shadow: 1px 1px 1px rgb(88, 88, 88);
}
#Principal{
    text-align: center;
    background-color:rgb(46, 46, 46);
    color: rgb(194, 192, 192);
    font-weight: bolder;
}
.basico{
    color: rgb(91, 158, 74) ;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);

}
.medio{
    color: rgb(158, 157, 74);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);

}
.avançado{ 
    color: rgb(158, 84, 74);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);

}

.Destaque{
    background-color: rgba(166, 255, 0, 0.295);
}